.gist-form__steps {
    margin-bottom: 15px;
}

.gist-form__controls {
    text-align: right;
}

.gist-form-line-item {
    padding: 25px;
    border: 2px dashed #CCC;
    margin-top: 25px;
}

.gist-form-line-item__title {
    margin-bottom: 15px;
}