.gist-form__steps {
    margin-bottom: 15px;
}

.gist-form__controls {
    text-align: right;
}

.gist-form-line-item {
    padding: 25px;
    margin-top: 25px;
    border-bottom: 1px solid #fcfcfc;
}

.gist-form-line-item__title {
    margin-bottom: 15px;
}